# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea
wikipedia/src/main/resources/wikipedia/wikipedia.dat
stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
timeusage/src/main/resources/timeusage/atussum.csv
